{% extends 'base.html' %}

{% block head %}
<title>32153236 이세현</title>
{% endblock %}

{% block body %}

<h1>오픈소스SW활용 기말</h1>
<h2>32153236 이세현</h2>
<hr>

<p>게임제작은 취미이자 제 전공과 관련된 일이기도 합니다.</p>
<p>군제대후 전공공부를 위해 c언어관련 학원을 다녔는데요,</p>
<p>학원에서 c언어나 알고리즘등을 배웠고 학원은 그만뒀지만 거기서 만난 선생님께 아직도 </p>
<p>개인적으로 주말마다 만나 가르침을 받고 있습니다.</p>
<p>그러면서 유니티로 게임을 만드는 방법도 배우면서 코딩실력에 큰 도움이 되었고</p>
<p>취미로도 게임을 만들고 있습니다.</p>
<br>

<!--이미지 삽입-->
<img src="https://blog.kakaocdn.net/dn/bgFyPE/btq64SaxuKy/nNdK3x0keBokRw7q9UsFKk/img.png" width="600" height="400">
<br>
<img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FD4OoV%2Fbtq66uz1YG4%2FgtdIdG6IzxTHm0giMhjkqK%2Fimg.png", width="600" height="400">


{% endblock %}