{% extends 'base.html' %}

{% block head %}
<title>32153236 이세현</title>
{% endblock %}

{% block body %}

<h1>오픈소스SW활용 기말</h1>
<h2>32153236 이세현</h2>
<hr>


<p>먼저 첫째 방울이입니다</p>
<img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbyJX8T%2Fbtq64SIFDhl%2FADGry69G83F5uhMxQly7Vk%2Fimg.jpg" width="500" height="600">
<br>
<p>방울이는 제가 고등학교 입학할 무렵 왔으니, 가족이 된지 벌써 10년이 넘었네요</p>
<br>

<p>둘째 딸랑이입니다.</p>
<img src="https://blog.kakaocdn.net/dn/ctAhAJ/btq665fZmFK/Bv02o3LejAdtoTHC6b7vBk/img.jpg" width="500" height="600">
<p>딸랑이는 어머니가 개장수한테 팔려가는 것을 구해왔습니다</p>
<p>처음에는 사람을 무서워했지만 이제는 잘따르고 엄청 충성스럽습니다.</p>
<br>

<p>마지막으로 고양이입니다.</p>
<p>고양이는 이름이 고양이입니다. 귀찮아서가 아니라 고양이라는 이름이 너무 귀엽지 않나요?</p>
<p>고양이도 동내에서 길고양이들한테 괴롭힘 당하는 것을 어머니가 구해왔습니다</p>
<img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FEI7fW%2Fbtq63MoWmUI%2FNKTVlCr9ermXnUYOOMM3Q1%2Fimg.jpg" width="500" height="600">
<br>
<hr>


{% endblock %}