{% extends 'base.html' %}

{% block head %}
<title>32153236 이세현</title>
{% endblock %}

{% block body %}

<h1>오픈소스SW활용 기말</h1>
<h2>32153236 이세현</h2>
<hr>

<p>피아노는 치기 시작한지 이제 1년 반쯤 되었습니다.</p>
<p>제작년 겨울방학에 학원을 다니기 시작했는데요, 사실 방학때만 치고 개강하면 학교를 가야하니 그만둘 생각이었는데</p>
<p>코로나가 터지면서, 비대면 수업으로 인해 학교를 안가게되어 어떻게 지금까지 계속 치고있네요</p>
<br>

<p><ins>몇달전에 쳐본 히사이시 조 - summer</ins></p>
<!--유튜브 링크-->
<iframe width="560" height="315" src="https://www.youtube.com/embed/V3dFUduewFk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>피아노 학원을 다니면서 피아노를 배울뿐만 아니라, 여러 분야에 종사하는 분들을 만나는것도 참 좋았습니다. </p>

{% endblock %}